<%= form_for(@scholar) do |f| %>
  <% if @scholar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scholar.errors.count, "error") %> prohibited this scholar from being saved:</h2>

      <ul>
      <% @scholar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
    
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description %>
  </div>
  <div class="field">
    <%= f.label :Provider %><br>
    <%= f.text_field :Provider %>
  </div>
  <div class="field">
    <%= f.label :Due %><br>
    <%= f.date_select :Due %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
