<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scholar.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scholar.Description %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @scholar.Provider %>
</p>

<p>
  <strong>Due:</strong>
  <%= @scholar.Due %>
</p>

<%= link_to 'Edit', edit_scholar_path(@scholar) %> |
<%= link_to 'Back', scholars_path %>
