<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Question:<%= f.text_area :question %>
  </div>
  <div class="field">
    Option 1:<%= f.text_field :op1 %>
  </div>
  <div class="field">
    Option 2:<%= f.text_field :op2 %>
  </div>
  <div class="field">
    Option 3:<%= f.text_field :op3 %>
  </div>
  <div class="field">
    Option 4:<%= f.text_field :op4 %>
  </div>
  <div class="field">
    Answer:
    <%= f.text_field :ans %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
